.logo {
    width: 18rem;
}

.footer img {
    width: 2rem;
}

.main-details {
    min-height: 81vh;
}

main {
    min-height: 76vh;
}

.seccion-details {
    margin-top: 10rem;
}

.main-details {
    min-height: 82vh;
}

.img-inicio{
    height: 190.66px ;
    border-radius: 5px 5px 0px 0px;
}